name: Lint and Format

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Stylua
        uses: JohnnyMorganz/stylua-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Luacheck
        run: sudo apt-get update && sudo apt-get install -y luacheck

      - name: Run Stylua Check
        run: stylua --check .

      - name: Run Luacheck
        run: luacheck .
